@include extjs-panel-ui(
        $ui: 'menugrey',
        $ui-header-background-color: #bfbfbf,
        $ui-body-background-color: #bfbfbf,
        $ui-border-color: #bfbfbf,
        $ui-header-border-color: #bfbfbf,
        $ui-body-border-color: #bfbfbf,
        $ui-header-color: #214E70
);