$base-color: #5b84b3 !default;
$font-family: "PT Sans Caption", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size: 12px;

$form-trigger-background-color: #5b84b3;

$form-text-field-background-color: #fff;
//$form-field-font-weight: bold;
$form-text-field-border-color: #d14249;

$form-label-font-color: #5b84b3;

$fieldset-header-color: #5b84b3;
$fieldset-header-font-weight: bold;

$button-small-font-size: 14px;
$button-small-font-weight: bold;

//$grid-row-cell-font-weight: bold;
.y-alert-maxvalue LABEL {
  background-color: orange;
}
.y-alert-maxvalue_1 LABEL {
  background-color: yellow;
}

.x-form-readonly .x-form-text-default {
  background-color: #dedede !important;
}
.header-panel {
  background-color: beige;
}

.sts-fieldset-background-color {
  background-color: beige;
}

.tab-attivita .x-tab-bar {
  background-color: #949482 !important;
}
.tab-attivita .x-tab-inner {
  color: #5b84b3 !important;
}

.logo-nav-close {
  padding: 3px;
}
.text-nav-rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #000;
  font-size: larger;
  font-weight: bold;
  margin-top: 250px;
  float: left;
  white-space: nowrap;
  width: 50px;
  vertical-align: top;
}

.text-right {
  text-align: right !important;
}
.titleForm {
  height: 40px !important;
  font-size: medium;
  font-weight: bold;
  color: black;
  padding: 5px;
  border-bottom: solid 1px;
}
.titleForm .prefix {
  color: #999;
}
.titleForm .title {
  font-weight: bold;
}
.titleForm .logo {
  vertical-align: middle;
  padding-right: 10px;
}

.titleApp {
  font-size: medium;
  font-weight: bold;
  color: black;
  padding: 5px;
  border-bottom: transparent;
}
.titleApp .logo {
  vertical-align: middle;
  padding-right: 10px;
}
.titleApp .logoApp {
  vertical-align: middle;
  float: left;
  padding-right: 10px;
}
.titleApp .title {
  display: table-cell;
  height: 37px;
  vertical-align: middle;
  font-weight: bold;
}

.appversion {
  text-align: right;
  font-style: italic;
  font-weight: bold;
  font-size: small;
  border-bottom: solid 1px;
  border-top: solid 1px;
  padding: 5px;
  background-color: #5b84b3;
  color: white;
}

.main-west {
  //border-right: 1px solid #5b84b3;
}

.main-footer {
  border-top: 1px solid #5b84b3;
}

.sql-fieldSet {
  background: transparent !important;
}

.grid_festivo {
  background-color: #ddd;
}

.goma-cruscotto .x-accordion-item .x-accordion-hd {
  padding: 0 5px !important;
}

.goma-cruscotto .x-grid-cell-inner {
  padding: 2px 10px 2px !important;
}

.x-column-header-align-right .x-column-header-text {
  margin-right: 0;
}

//
//.x-grid-item-selected .x-grid-cell-first:before {
//  color: red;
//  content: '=>';
//  font-weight: bold;
//  left: 0;
//  margin-top: 4px;
//  position: absolute;
//}
//
//.x-grid, .x-grid-body {
//  overflow: visible;
//}
//
//.x-grid-view {
//  overflow: visible !important;
//}
