
.app-container {
  margin: 5px;
  padding: 10px;
  background-color: #78659b;
  color: #fff;
  .all-font-big {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
  .all-font-medium {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 10px;
  }
  .html-infobox {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.x-grid-row .bold-column{
   font-weight: bold;
}
.app-font-medium {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.dd-active {
  font-weight: bold !important;
  background-color: orange !important;
}

.stt-cli-selected{
  background-color: red !important;
}

.row-green {
  font-weight: bold !important;
  background-color: #88c988 !important;
}
.row-yellow {
  font-weight: bold !important;
  background-color: #efefa0 !important;
}
.row-red {
  font-weight: bold !important;
  background-color: rgb(246, 101, 101) !important;
}

.redIcon {
    color: red;
}
.stt-filtri-grid {
  padding: 0 5px 5px 5px ;
  margin-right:5px;
}
.stt-filtri-grid .x-fieldset-header-default,
.stt-filtri .x-fieldset-header-default{
  padding:0 5px ;
}

.stt-row-xx-small .x-grid-cell-inner{
  padding: 0!important;
  font-size: xx-small;
}