
.app-container {
  margin: 5px;
  padding: 10px;
  background-color: #78659b;
  color: #fff;
  .all-font-big {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
  .all-font-medium {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 10px;
  }
  .html-infobox {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.app-font-medium {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.dd-active {
  font-weight: bold !important;
  background-color: orange !important;
}