.home-widget .x-tool-img.x-tool-collapse-top:before{
  content:'\f146'
}
.home-widget .x-tool-img.x-tool-expand-bottom:before{
  content:'\f150'
}
.home-widget .x-tool-img.x-tool-up:before{
  content:'\f102'
}
.home-widget .x-tool-img.x-tool-down:before{
  content:'\f103'
}


.fls-presenze{
  padding: 5px 15px !important;
}
.fls-presenze .x-fieldset-header{
  padding: 0 !important;
}
.x-column-header-inner .x-column-header-text {
  white-space: normal;
  font-size:12px;
}
