.column-color-green {
  font-weight: bold;
  color: green;
}
.column-color-red {
  font-weight: bold;
  color: red;
}
.column-color-orange  {
  font-weight: bold;
  color: orange
}
.column-color-blue  {
  font-weight: bold;
  color: blue;
}
.dettgrid-multiline .x-grid-cell-inner {
  white-space: normal;
}

