.app-default {
  font-size: 13px;
  font-family: Lucida Sans, Geneva, Verdana, sans-serif;
  padding: 2px;

}
.app-big {
  font-size: 18px;
  font-family:Tahoma, Verdana, Segoe, sans-serif;
  padding: 2px;

}
.app-medium {
  font-size: 16px;
  font-family:Trebuchet MS, Lucida Grande, Tahoma, sans-serif;
  padding: 2px;
}
