$base-color: #1c6f00 !default;

.x-form-readonly .x-form-text-default{
  background-color: #dedede !important;
}
.header-panel{
  background-color: beige;
}

.sts-fieldset-background-color{
  background-color: beige;
}

.tab-attivita .x-tab-bar{
  background-color: #949482 !important;
}
.tab-attivita .x-tab-inner{
  color: #5b84b3 !important;
}

.main-footer {
  border-top: 1px solid #5b84b3;
}

.sql-fieldSet{
  background: transparent!important;
}

